NEXT_PUBLIC_SUPABASE_URL=coloque_sua_url_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque_sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=coloque_sua_service_role_key_aqui

# Lembre-se de criar essas variáveis de ambiente na Vercel (ou onde for hospedar)
